@media (min-width: 576px) {
}
body{
margin-left: 10px;
margin-right: 10px; 
}
.about{
    font-size: 12px;
    width: 90%;
}
.team{
    display: flex;
    margin-bottom: 20px;

}
.name{
    margin-top: 75px;
    color:#f46731;
}
iframe{
    width: 80vw;
    height: auto;
    margin-top: 100px;
    border: solid 10px;
}

.photo{
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: horizontal;
}
.members{
    margin-bottom: 75px;
}
div{
    width: 30vw;
    text-align: center;
}
.images{
    color:rgb(51,168,221);
}
@media (min-width: 992px) {

body{
    margin: 0 auto;
    text-align: center;
}
.photo{
    width: 30 vw;
    height: auto;
}
iframe{
    width: 50vw;
    height: auto;
}
h1.images{
    text-align: center;
}}