@media (min-width: 576px) {
header{
    background-color: rgb(43,205,192);
    width: 98vw;
    height: 150px;
    color:white;
    text-align: center;
    margin-bottom: 0px;
}

nav{
    float: left;
}
.row{
    background-color:#f7f5f6;
    margin-bottom: 40px;
    margin-top: 0px;
}
.bacon{
    margin: 10px;
}
h2{
    text-align: center;
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

#box1{
    background-color: rgb(51,168,221);
    width: 50vw;
    margin:0 auto;
}
#box2{
    background-color: #f46731;
    width: 50vw;
    margin:0 auto;    
}
#box3{
    background-color: #2bcdc0;
    width: 50vw;
    margin:0 auto;
}}



    @media (min-width: 992px) {
header{
    background-color: rgb(43,205,192);
    width: 100vw;
    height: 300px;
    color: white;
    text-align: center;
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 55px;
}
.row{
    display:flex;
    height: 500px;
    background-color: rgb(27,27,27);
    color: white
}
.bacon{
    flex: 33vw;
    padding: 5px;
}
#box1{
    background-color: rgb(51,168,221);
}
#box2{
    background-color: #f46731;
}
#box3{
    background-color: #2bcdc0;
}}